# Chapter 2

#### Temperature Convertion with Table

In [2]:
print('------------------')
C = -20
dC = 5
while C <= 40:
    F = (9.0/5)*C + 32
    print (C, F)
    C = C + dC
    print('C is :',C)
print('-------------------')

------------------
-20 -4.0
C is : -15
-15 5.0
C is : -10
-10 14.0
C is : -5
-5 23.0
C is : 0
0 32.0
C is : 5
5 41.0
C is : 10
10 50.0
C is : 15
15 59.0
C is : 20
20 68.0
C is : 25
25 77.0
C is : 30
30 86.0
C is : 35
35 95.0
C is : 40
40 104.0
C is : 45
-------------------

#### Combining Boolean Expression

In [3]:
x = 0; y = 1.2
x >= 0 and y<1

False

In [4]:
x >= 0 or y<1

True

In [5]:
x > 0 or y>1

True

In [6]:
x >0 or not y>1

False

In [7]:
-1 < x <=0

True

In [8]:
not(x>0 or y>0)

False

In [10]:
C = [-20,-15,-10,-5,0,5,10,15,20]
C

[-20, -15, -10, -5, 0, 5, 10, 15, 20]

#### List inltializing and indexing Lists

In [17]:
mylist =[3,4,5]

In [18]:
mylist

[3, 4, 5]

In [19]:
mylist[0]

3

In [20]:
len(mylist)

3

###### list opreations: append,extend,insert,delete

In [11]:
C = [-20,-15,-10,-5,0,5,10,15,20]
C.append(35)
C

[-20, -15, -10, -5, 0, 5, 10, 15, 20, 35]

In [12]:
C = C +[40,45]
C

[-20, -15, -10, -5, 0, 5, 10, 15, 20, 35, 40, 45]

In [13]:
C.insert(0,-15)
C

[-15, -20, -15, -10, -5, 0, 5, 10, 15, 20, 35, 40, 45]

In [14]:
del C[2]
C

[-15, -20, -10, -5, 0, 5, 10, 15, 20, 35, 40, 45]

In [15]:
del C[2]
C

[-15, -20, -5, 0, 5, 10, 15, 20, 35, 40, 45]

In [16]:
len(C)

11

#### List Operation ; Search for element,negative indices

In [21]:
    C.index(10)

5

In [22]:
10 in C

True

In [23]:
C[-1]

45

In [24]:
C[-2]

40

In [25]:
somelist= ['book.pdf','book.log','book.tex']
textfile, logfile, pdf = somelist
textfile

'book.pdf'

In [26]:
logfile

'book.log'

In [27]:
pdf

'book.tex'

#### Loop over elements in a list with a for loop

In [32]:
degrees = [0,10,20,30,40,100]
for C in degrees:
    print("Celsius degrees :", C)
    F = 9/5.0*C + 32
    print("Farenheit degrees :", F)
print("list has  :", len(degrees), "elements")

Celsius degrees : 0
Farenheit degrees : 32.0
Celsius degrees : 10
Farenheit degrees : 50.0
Celsius degrees : 20
Farenheit degrees : 68.0
Celsius degrees : 30
Farenheit degrees : 86.0
Celsius degrees : 40
Farenheit degrees : 104.0
Celsius degrees : 100
Farenheit degrees : 212.0
list has  : 6 elements

In [34]:
degrees = [0,10,20,40,100]
for C in degrees:
    print(C)
print("The degrees list has :", len(degrees), "elemens")

0
10
20
40
100
The degrees list has : 5 elemens

In [35]:
Cdegrees = [-20,-15,-10,-5,0,5,10,15,20,25,30,35,40]
for C in Cdegrees:
    F = (9.0/5)*C + 32
    print(C,F)

-20 -4.0
-15 5.0
-10 14.0
-5 23.0
0 32.0
5 41.0
10 50.0
15 59.0
20 68.0
25 77.0
30 86.0
35 95.0
40 104.0

In [36]:
Cdegrees = [-20,-15,-10,-5,0,5,10,15,20,25,30,35,40]
index = 0
while index < len(Cdegrees):
    C = Cdegrees[index]
    F = (9.0/5)*C + 32
    print("%5d %5.1f" %(C,F))
    index +=1

  -20  -4.0
  -15   5.0
  -10  14.0
   -5  23.0
    0  32.0
    5  41.0
   10  50.0
   15  59.0
   20  68.0
   25  77.0
   30  86.0
   35  95.0
   40 104.0

#### Implement a mathematical sum via a loop

In [38]:
N = 14
S = 0
for i in range(1, N+1):
    S +=i**2
print(S)

1015

In [39]:
S = 0
i = 1
while i  <= N:
    S += i**2
    i += 1
print(S)

1015

#### Storing the table columns as lists

In [40]:
Cdegrees = [-20,-15,-10,-5,0,5,10,15,20,25,30,35,40]
Fdegrees = []
for C in Cdegrees:
    F = (9.0/5)*C +32
    Fdegrees.append(F)
print(Fdegrees)

[-4.0, 5.0, 14.0, 23.0, 32.0, 41.0, 50.0, 59.0, 68.0, 77.0, 86.0, 95.0, 104.0]

#### How can we change the elements in a list?

In [41]:
v = [-1,1,10]
for e in v:
    e = e +2
    print(e)

1
3
12

In [42]:
v

[-1, 1, 10]

In [43]:
n = 16
Cdegrees = []
for i in range (n):
    Cdegrees.append(-5 + i*0.5)
    Fdegrees.append((9.0/5)*Cdegrees[i] + 32)
print(Cdegrees)
print(Fdegrees)

[-5.0, -4.5, -4.0, -3.5, -3.0, -2.5, -2.0, -1.5, -1.0, -0.5, 0.0, 0.5, 1.0, 1.5, 2.0, 2.5]
[-4.0, 5.0, 14.0, 23.0, 32.0, 41.0, 50.0, 59.0, 68.0, 77.0, 86.0, 95.0, 104.0, 23.0, 23.9, 24.8, 25.7, 26.6, 27.5, 28.4, 29.3, 30.2, 31.1, 32.0, 32.9, 33.8, 34.7, 35.6, 36.5]

In [44]:
l1 = [2,5,8]; l2=[1.5,-3.8,9]; l3 = [3.9,5.2,-0.5]
for e1,e2,e3 in zip(l1,l2,l3):
    print(e1,e2,e3)

2 1.5 3.9
5 -3.8 5.2
8 9 -0.5

#### Nested list of lists

In [46]:
Cdegrees = range(-20,41,5)
Fdegrees = [9/5*C + 32 for C in Cdegrees]
Table1 = [Cdegrees, Fdegrees]
print(Table1[0])
print(Table1[1])

range(-20, 41, 5)
[-4.0, 5.0, 14.0, 23.0, 32.0, 41.0, 50.0, 59.0, 68.0, 77.0, 86.0, 95.0, 104.0]

#### Tables of columns and Table of rows

In [48]:
table2 = []
for C, F in zip(Cdegrees, Fdegrees):
    row = [C, F]
    table2.append(row)

#### more compact with list comprehension:

In [49]:
table2 = [[C, F] for C,F in zip(Cdegrees, Fdegrees)]

In [50]:
table2

[[-20, -4.0],
 [-15, 5.0],
 [-10, 14.0],
 [-5, 23.0],
 [0, 32.0],
 [5, 41.0],
 [10, 50.0],
 [15, 59.0],
 [20, 68.0],
 [25, 77.0],
 [30, 86.0],
 [35, 95.0],
 [40, 104.0]]

#### Slices

In [51]:
A = [1,2,3,4,5]
A[2:]

[3, 4, 5]

In [52]:
A[1:3]

[2, 3]

In [53]:
A[:3]

[1, 2, 3]

In [54]:
A[1:-1]

[2, 3, 4]

In [55]:
A[:]

[1, 2, 3, 4, 5]

#### Interaction over nested lists

In [57]:
L = [[5,9],[1,2,3]]
for row in L:
    for col in row:
        print(col)

5
9
1
2
3

In [58]:
L[1][-1]

3

#### Tuples are constant lists

In [59]:
t = (2,4,5,"book.pdf")

In [60]:
t

(2, 4, 5, 'book.pdf')

In [62]:
t[1:]

(4, 5, 'book.pdf')

### Summarizing Example: Oxford Sun House(1929-2009)

In [63]:
monthly_mean = [0]*12

In [64]:
monthly_mean

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

### Final

In [ ]:
s = 0
k = 1
M = 100
while k < M:
    s += 1/k
    k += 1
print(s)