### Working data into files

In [20]:
f = open('data.txt' , 'w')
f.write("""21.8
18.1
19
16
18
17.9""")
f.close()

In [21]:
infile = open('data.txt' , 'r')
mean = 0
lines = infile.readlines()
for e in lines:
    number = float(e)
    mean += number
    print(number)
mean = mean/len(lines)
print('mean:' ,mean)
infile.close()

21.8
18.1
19.0
16.0
18.0
17.9
mean: 18.46666666666667

### Reading all the contents to file

In [3]:
infile = open('data.txt',r)

NameError: name 'r' is not defined

### Demo of File Reading

In [6]:
f = open('tmp.txt' ,'w')
f.write("""
line 1
line 2
line 3
line 4
""")
f.close()

### File reading and string splitting

In [8]:
infile = open('tmp.txt', 'r')
filestr = infile.read()
filestr

'\nline 1\nline 2\nline 3\nline 4\n'

In [9]:
filestr.split()

['line', '1', 'line', '2', 'line', '3', 'line', '4']

In [10]:
filestr.split('e')

['\nlin', ' 1\nlin', ' 2\nlin', ' 3\nlin', ' 4\n']

In [12]:
filestr.split('\n')

['', 'line 1', 'line 2', 'line 3', 'line 4', '']

### Reading file with text and number

#### Reading Rome rainfall data(rainfall.txt)

In [18]:
def extract_data(filename):
    infile = open(filename, 'r')
    infile.readline()
    months =[]
    rainfall =[]
    for line in infile:
        words = line.split()
        months.append(words[0])
        rainfall.append(float(words[1]))
    infile.close()
    
    months = months[:-1]
    annual_avg = rainfall[-1]
    rainfall = rainfall[:-1]
    
    return months, rainfall, annual_avg
months, values, avg = extract_data('rainfall.txt')
for m, v in zip(months, values):
    print(m,v)
print ("Annual average:" , avg)

Jan 81.2
Feb 63.2
Mar 70.3
Apr 55.7
May 53.0
Jun 36.4
Jul 17.5
Aug 27.5
Sep 60.9
Oct 117.7
Nov 111.0
Dec 97.9
Annual average: 792.9

### Writing Data to File

In [27]:
months,values,avg

(['Jan',
  'Feb',
  'Mar',
  'Apr',
  'May',
  'Jun',
  'Jul',
  'Aug',
  'Sep',
  'Oct',
  'Nov',
  'Dec'],
 [81.2, 63.2, 70.3, 55.7, 53.0, 36.4, 17.5, 27.5, 60.9, 117.7, 111.0, 97.9],
 792.9)

In [26]:
outfile = open('rainfall.dat', 'w')
for m,v in zip(months, values):
    outfile.write(m+ '   '+str(v) + '\n')
outfile.close()

In [28]:
outfile = open('rainfall.dat' , 'a')
outfile.write('Annual Average:' +str(avg))
outfile.close()

In [31]:
data = \
[[ 0.75,        0.29619813, -0.29619813, -0.75      ],
 [ 0.29619813,  0.11697778, -0.11697778, -0.29619813],
 [-0.29619813, -0.11697778,  0.11697778,  0.29619813],
 [-0.75,       -0.29619813,  0.29619813,  0.75      ]]

In [32]:
outfile = open('table_data.dat', 'w')
for row in data:
    for col in row:
        outfile.write('%14.8f'%col)
    outfile.write('\n')
outfile.close()

### Making Your Own Mobile

#### module is a collection of data and functions

In [5]:
from math import log as ln

def present_amount(A0, p, n):
    return A0(1+p/(360*100))**n

def initial_amount(A, p, n):
    return A(1+p/(360*100))**(-n)

def days(A0, A, p):
    return ln(A/A0)/ln(1+p/(360*100))

def annual_rate(A, A0, n):
    return 360*100*((A/A0)**(1/n)-1)

#### Write out the module to python file

In [8]:
with open('interest.py', 'w')as outfile:
    outfile.write("""from math import log as ln
    
def present_amount(A0, p, n):
    return A0(1+p/(360*100))**n

def initial_amount(A, p, n):
    return A(1+p/(360*100))**(-n)

def days(A0, A, p):
    return ln(A/A0)/ln(1+p/(360*100))

def annual_rate(A, A0, n):
    return 360*100*((A/A0)**(1/n)-1)
    """)

#### Importing created module

In [12]:
from interest import days
A0=1; A=2; p=5
n = days(A0, 2, p)
years = n/365
print("Money has doubled after %.5f years" %years)

Money has doubled after 13.67399 years

In [14]:
from interest import annual_rate
A0 = 1; A = 2; n = 13.67399*365
p =annual_rate (A,A0,n)
print (p)

4.99999991544442

### Test Block are collected in functions

In [ ]:
def test all_functions():
    """Define four variables, give three of these to compute the rest one and compare with original value(in parentheses)"""
    A =2.2133983053266699; A0 =2; A =

if __name__=='__main__':
    test_all_functions()